.navbar {
    background-color: darkgray;
    border-bottom: 2px solid black;
    border-radius: 15px;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}


.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    font-family: 'Inter' ,sans-serif;
    cursor: pointer;
}

.links {
    display: flex;
    gap: 20px;
    transition: all 0.3s ease;
}

.links a{
    font-family: 'Inter' ,sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin-left: 10px;
}

.links button{
    cursor: pointer;
    margin-top: -6px;
    border-style: solid;
    border-radius: 15px;
    width: 120px;
    height: 30px;
    border-color: #007bff;
    background-color: #007bff;
    color: white;
    font-family: 'Inter' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 15px;
    transition: background-color 0.5s ease-out 0.1s, color 0.5s ease-out 0.1s;
    animation-name: fade-in;
    animation-duration: 4s;
    
}

.links button:hover{
    background-color: darkgray;
    color: white;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: all 0.3s ease;
}

/* Responsive styling */
@media (max-width: 768px) {
    .container {
        width: 80%;
        margin: auto;
    }

    .links {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        flex-direction: column;
        width: 150px;
        height: 240px;
        align-items: center;
        justify-content: center;
        transform: translateY(-100%);
        opacity: 0;
        border-radius: 20px;
        visibility: hidden;
    }

    .links.show {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .links a {
        font-size: 1rem;
        padding: 3px 0;
    }

    .hamburger {
        display: flex;
    }
}